<form method="post" th:action="@{/submit}" th:object="${user}">
    <table>
        <tr th:each="sexCon : ${sexes}">
            <td>
                <input type="radio" th:field="*{sex}" th:value="${sexCon}"/>
                <label th:for="${#ids.prev('sex')}" th:text="${sexCon}"></label>
            </td>
        </tr>
        <tr th:each="color : ${colors}">
            <td>
                <label th:for="${#ids.next('myColors')}" th:text="${color}"></label>
                <input type="checkbox" th:field="*{myColors}" th:value="${color}"/>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"/></td>
        </tr>
    </table>
</form>