<form method="post" th:action="@{/submit}" th:object="${formObject}">
    <table>
        <tr>
            <td>
                <input type="text" th:field="*{name}" th:id="${#ids.seq('name')}"/>
                <input type="text" th:field="*{name}" th:id="${#ids.seq('name')}"/>
                <input type="text" th:field="*{name}" th:id="${#ids.seq('name')}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" th:field="*{name}" value="*{name}"/>
                <input type="checkbox" th:field="*{name}" value="*{name}"/>
                <input type="checkbox" th:field="*{name}" value="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" th:field="*{name}" value="*{name}"/>
                <label th:for="${#ids.prev('name')}" th:text="A选项"/>
                <input type="radio" th:field="*{name}" value="*{name}"/>
                <label th:for="${#ids.prev('name')}" th:text="B选项"/>
                <input type="radio" th:field="*{name}" value="*{name}"/>
                <label th:for="${#ids.prev('name')}" th:text="C选项"/>
            </td>
        </tr>
    </table>
</form>