<head th:fragment="commonHead">
    <link rel="stylesheet" type="text/css" th:href="@{/common.css}"/>
    <title>Fragment Title</title>
</head>
<footer th:fragment="commonFooter">
    <span>copy right</span>
</footer>

<body th:fragment="simpleBody">
<link rel="stylesheet" type="text/css" th:href="@{/common.css}"/>
<span class="redText">HTML内容</span>
</body>
<body th:fragment="argbody(name)">
<link rel="stylesheet" type="text/css" th:href="@{/common.css}"/>
<span class="redText" th:text="${name}"></span>
</body>