server:
  port: 8081
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spring-boot-learning?useUnicode=true&characterEncoding=utf8&characterSetResults=utf8
    username: root
    password: weilai09290013

