<!doctype html>
<html lang="en">
<head th:replace="~{common/header}">
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row" style="height: 30px;"></div>
    <div class="row" th:replace="~{common/banner}">
        <div class="col-lg-4" style="text-align: center;">
            <img src="../../static/images/logo.png"/>
        </div>
        <div class="col-lg-8" style="text-align: center;">
            <img src="../../static/images/banner.png"/>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row" th:replace="~{common/nav::nav('store')}">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9C8E7;">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="../main.html">首页</a>
                    <a class="nav-item nav-link" href="../book/list.html">图书管理</a>
                    <a class="nav-item nav-link active" href="#">图书入库</a>
                    <a class="nav-item nav-link" href="../sale/list.html">图书销售</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">新建图书入库</div>
                <div class="card-body">
                    <form id="dataForm" th:action="@{/store/save}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">图书：</label>
                            <button type="button" th:disabled="${readonly}" class="btn btn-primary"
                                    onClick="document.location.href='choose.html'"
                                    th:onclick="|window.open('@{/book/choose}', '_blank', 'width=700,height=500,resizable=no')|">
                                选择图书
                            </button>
                        </div>
                        <div class="form-group row">
                            <table class="table col-lg-12" style="border: 1px solid #cccfc9;">
                                <thead>
                                <tr class="table-secondary">
                                    <th scope="col" width="60%">书名</th>
                                    <th scope="col" width="40%">数量</th>
                                    <th scope="col" width="10%">操作</th>
                                </tr>
                                </thead>
                                <tbody id="bookDatas">
                                <tr>
                                    <td>疯狂Spring Cloud微服务架构实战</td>
                                    <td>
                                        <input type="text" class="col-sm-12 form-control">
                                        <input type="hidden"/>
                                    </td>
                                    <td><input type="button" value="删除" class="btn btn-primary"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <input type="hidden" id="itemJson" name="itemJson"/>
                                <button type="button" class="btn btn-primary" onclick="submitForm()"
                                        th:hidden="${readonly}">保 存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            Copyright © 2017-2018 Angus Young All rights reserved.
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
</div>

<script th:inline="JavaScript">
    /*[+
    // 初始化入库单明细
    var items = [[${items}]];
    if(items == null) {
        items = [];
    }
    refreshBookTable();

    // 刷新图书列表
    function refreshBookTable() {
        $("#bookDatas").empty();
        var readonly = [[${readonly}]];
        for(var i = 0; i < items.length; i++) {
            var item = items[i];
            var bookId = item.book.id;
            var tr = $("<tr></tr>");
            var td1 = $("<td>" + item.book.name +"</td>");
            // 新建数量的text
            var amountText = $("<input type='text' class='form-control' onBlur='changeAmount(this, " + bookId + ")'/>");
            amountText.val(item.amount);
            // 创建第2个td，
            var td2 = $("<td></td>").append(amountText);
            // 删除按钮
            var delButton = $("<input type='button' class='btn btn-primary' value='删除' onclick='remove(this, " + bookId + ")'/>");
            // 只是查看的话，隐藏删除按钮，将数量输入框置为只读
            if(readonly) {
                delButton.attr("disabled", true);
                amountText.attr("readonly", true);
            }
            var td3 = $("<td></td>").append(delButton);
            tr.append(td1).append(td2).append(td3);
            $("#bookDatas").append(tr);
        }
    }

    // 当数量输入框架失去焦点时，修改数据
    function changeAmount(text, bookId) {
        var amount = $(text).val();
        // 将数据设置到对象中
        for(var i = 0; i < items.length; i++) {
            var item = items[i];
            if(item.book.id == bookId) {
                item.amount = amount;
            }
        }
    }

    // 删除一条记录
    function remove(button, bookId) {
        // 删除tr元素
        $(button).parent().parent().remove();
        // 删除数据
        for(var i = 0; i < items.length; i++) {
            var item = items[i];
            if(item.book.id == bookId) {
                items.splice(i, 1);
                return;
            }
        }
    }

    // 添加一本书到列表
    function addBook(id, name, price) {
        // 判断图书是否已经存在列表中
        for(var i = 0; i < items.length; i++) {
            var item = items[i];
            if(id == item.book.id) {
                return;
            }
        }
        var newItem = {"book": {"id":"","name":""}, "amount": 0};
        newItem.book.id = id;
        newItem.book.name = name;
        items.push(newItem);
        refreshBookTable();
    }

    // 提交表单
    function submitForm() {
        var jsonStr = JSON.stringify(items);
        // 将json设置到隐藏域中提交
        $("#itemJson").val(jsonStr);
        // 提交表单
        $("#dataForm").submit();
    }
    +]*/

</script>

</body>
</html>
