<!doctype html>
<html lang="en">
<head th:replace="~{common/header}">
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row" style="height: 30px;"></div>
    <div class="row" th:replace="~{common/banner}">
        <div class="col-lg-4" style="text-align: center;">
            <img src="../../static/images/logo.png"/>
        </div>
        <div class="col-lg-8" style="text-align: center;">
            <img src="../../static/images/banner.png"/>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row" th:replace="~{common/nav::nav('sale')}">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9C8E7;">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="../main.html">首页</a>
                    <a class="nav-item nav-link" href="../book/list.html">图书管理</a>
                    <a class="nav-item nav-link" href="../store/list.html">图书入库</a>
                    <a class="nav-item nav-link active" href="#">图书销售</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="height: 10px;"></div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <table class="table" style="border: 1px solid #cccfc9;">
                <thead>
                <tr class="table-secondary">
                    <th scope="col" width="10%">选择</th>
                    <th scope="col" width="50%">销售图书</th>
                    <th scope="col" width="10%">总价</th>
                    <th scope="col" width="30%">时间</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="data : ${datas.content}" th:object="${data}">
                    <th scope="row"><input type="checkbox"/></th>
                    <td><a href="view.html" target="_blank" th:text="*{bookNames}" th:href="@{/sale/view/} + *{id}">
                        疯狂Spring Cloud微服务架构实战，疯狂Spring Cloud微服务架构实战，疯狂Spring Cloud微服务架构实战，
                        疯狂Spring Cloud微服务架构实战，疯狂Spring Cloud微服务架构实战</a></td>
                    <td th:text="*{money}">100</td>
                    <td th:text="*{createTime}">2018-01-01 00:00:00</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"/></th>
                    <td>疯狂Spring Cloud微服务架构实战</td>
                    <td>100</td>
                    <td>2018-01-01 00:00:00</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"/></th>
                    <td>疯狂Spring Cloud微服务架构实战</td>
                    <td>100</td>
                    <td>2018-01-01 00:00:00</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"/></th>
                    <td>疯狂Spring Cloud微服务架构实战</td>
                    <td>100</td>
                    <td>2018-01-01 00:00:00</td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"/></th>
                    <td>疯狂Spring Cloud微服务架构实战</td>
                    <td>100</td>
                    <td>2018-01-01 00:00:00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-primary" onClick="document.location.href='content.html'"
                    th:onclick="|document.location.href='@{/sale/add}'|">添加
            </button>
        </div>
        <nav class="col-lg-1" th:replace="~{common/page::page('/sale/list')}">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            Copyright © 2017-2018 Angus Young All rights reserved.
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
</div>


</body>
</html>
