<html>
<head>

</head>
<body>
<script th:src="@{/js/vue.min.js}"></script>
<div id="container">
    <crazyit sex="男" height="180"></crazyit>
</div>
<script type="text/x-template" id="my-template">
    <span>{{ person }}: {{ age }}, {{ sex }}, {{ height }}, {{ school }}</span>
</script>
<script>
    Vue.component("crazyit", Vue.extend({
        props: ["sex", "height"],
        template: "#my-template",
        data: function () {
            return {
                person: "crazyit",
                age: 10,
                school: '[[ ${school} ]]'
            }
        }
    }));
    new Vue({
        el: "#container"
    });
</script>
</body>

</html>