<html>
<head>
    <style>
        .redText {
            color: red;
            font-size: 24px;
        }
    </style>
</head>
<body>
<div id="app">
    <span v-text="html"></span></br>
    <span v-html="html"></span></br>
    <!-- 根据 isLady 来判断是否显示span -->
    <span v-show="isLady">女</span></br>
    <!-- 判断 isLady 值，如果是true则显示该span -->
    <span v-if="isLady == true">女</span></br>
    <!-- 为button绑定事件 -->
    <input type="button" value="确认" v-on:click="hello()"/></br>
    <!-- 如果 isLady 为true，则class使用 redText -->
    <span v-bind:class="{ redText : isLady }">女</span></br>
    <!-- 数据改变后，将不会改变这个span -->
    <span v-once v-html="html"></span></br>
</div>
<input type="button" value="改变" onclick="change()"/></br>
<script th:src="@{/js/vue.min.js}"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            html: "<span style='color: red;'>crazyit</span>",
            isLady: true
        }
    });

    function hello() {
        alert("hello");
    }

    function change() {
        app.$data.html = "<span style='color: blue;'>crazyit</span>";
    }
</script>
</body>

</html>