<!doctype html>
<html lang="en">
<head th:replace="~{common/header}">
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row" style="height: 30px;"></div>
    <div class="row" th:replace="~{common/banner}">
        <div class="col-lg-4" style="text-align: center;">
            <img src="../static/images/logo.png"/>
        </div>
        <div class="col-lg-8" style="text-align: center;">
            <img src="../static/images/banner.png"/>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row" th:replace="~{common/nav::nav('book')}">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #A9C8E7;">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="../main.html">首页</a>
                    <a class="nav-item nav-link active" href="#">图书管理</a>
                    <a class="nav-item nav-link" href="../store/list.html">图书入库</a>
                    <a class="nav-item nav-link" href="../sale/list.html">图书销售</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">新建图书</div>
                <div class="card-body">
                    <form id="dataForm" method="post" th:action="@{/book/save}" th:object="${book}"
                          th:enctype="'multipart/form-data'">
                        <input type="hidden" name="id" th:value="*{id}"/>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">书名：</label>
                            <div class="col-sm-10">
                                <input type="text" th:readonly="${readonly}" class="form-control" name="name"
                                       th:value="*{name}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">作者：</label>
                            <div class="col-sm-10">
                                <input type="text" th:readonly="${readonly}" class="form-control" name="author"
                                       th:value="*{author}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">售价：</label>
                            <div class="input-group col-sm-10">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">¥</span>
                                </div>
                                <input type="text" th:readonly="${readonly}" class="form-control" name="price"
                                       th:value="*{price}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">封面：</label>
                            <div class="col-sm-3 ">
                                <input type="button" class="btn btn-primary form-control" value="上传"
                                       th:disabled="${readonly}" id="uploadButton"/>
                            </div>
                            <div class="col-sm-7">
                                <input id="cover" th:disabled="${readonly}" type="file" class="form-control"/>
                                <input type="hidden" value="" id="coverPath" name="cover" th:value="*{cover}"/>
                            </div>
                            <script>
                                $("#uploadButton").click(function () {
                                    var formData = new FormData();
                                    var cover = $("#cover")[0].files[0];
                                    formData.append("cover", cover);
                                    $.ajax({
                                        url: '[[ @{/book/upload} ]]',
                                        data: formData,
                                        type: 'POST',
                                        contentType: false,
                                        processData: false,
                                        success: function (obj) {
                                            $("#coverPath").val(obj);
                                            $("#coverImg").attr("src", obj);
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <img id="coverImg" th:src="*{cover}" height="200px"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-primary" th:hidden="${readonly}" value="保 存"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
            Copyright © 2017-2018 Angus Young All rights reserved.
        </div>
    </div>
    <div class="row" style="height: 20px;"></div>
</div>


</body>
</html>
