<!doctype html>
<html lang="en">
<head th:replace="~{common/header}">
    <meta charset="UTF-8">
    <title>图书管理系统</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/popper.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>


<table class="table" style="border: 1px solid #cccfc9;">
    <thead>
    <tr class="table-secondary">
        <th scope="col" width="10%">选择</th>
        <th scope="col" width="40%">
            <a th:href="@{/book/test?sort=} + ${#strings.equals(datas.sort, 'name: DESC') ? 'name,ASC' : 'name,DESC'}">书名</a>
        </th>
        <th scope="col" width="20%">作者</th>
        <th scope="col" width="20%">
            <a th:href="@{/book/test?sort=} + ${#strings.equals(datas.sort, 'price: DESC') ? 'price,ASC' : 'price,DESC'}">售价</a>
        </th>
        <th scope="col" width="10%">操作</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">
    <tr th:each="data : ${datas.content}" th:object="${data}">
        <td scope="row"><input type="checkbox" name="ids" th:value="*{id}"/></td>
        <td><a href="view.html" th:href="@{/book/view/} + *{id}" target="_blank" th:text="*{name}">疯狂Spring
            Cloud微服务架构实战</a></td>
        <td th:text="*{author}">杨恩雄</td>
        <td th:text="*{price}">40</td>
        <td><a th:href="@{/book/edit/} + *{id}">修改</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
