<body>
/************ 变量表达式 ************/
<div th:text="${product.name}"></div>
/************ 文本表达式 ************/
<div th:text="#{myKey}"></div>
<div th:text="${#messages.msg('myKey')}"></div>
/************ 链接表达式 ************/
<a href="view.html" th:href="@{~/order/details}"></a>
/************ 星号表达式 ************/
<li th:object="${product}">
    <span th:text="*{name}"></span>
    <span th:text="${#object.name}"></span>
</li>
/************ 片断表达式 ************/
<div th:insert="~{exp/footer.html}"></div>
</body>