<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<table id="app" style="width: 400px;">
    <thead>
    <tr>
        <td width="20%">1</td>
        <td width="60%">书名</td>
        <td width="20%">作者</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="book in books">
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/vue.min.js}"></script>
<script>
    // JSON数据
    var datas = [{"id": "1", "name": "疯狂Spring Cloud微服务", "author": "杨恩雄"},
        {"id": "2", "name": "疯狂工作流讲义", "author": "杨恩雄"}];
    var app = new Vue({
        el: "#app",
        data: {
            books: datas
        }
    });
</script>
</body>
</html>