<body>
/************使用常量传参***********/
<div th:replace="~{param/footer.html::welcome('Angus', 'Crazyit')}"></div>
/************使用变量传参***********/
<div th:replace="~{param/footer.html::welcome(${userParam}, ${companyParam})}"></div>

/************ 不显式指定参数 ***********/
<div th:replace="~{param/footer.html::welcomeTwo(val1='ab', val2='cd')}"></div>
<div th:replace="~{param/footer.html::welcomeTwo}"></div>
<div th:include="~{param/footer.html::welcomeTwo}"
     th:with="val1=${userParam},val2=${companyParam}"></div>
</body>