<div th:text="${#dates.day(date)}"></div>    // 结果 2
<div th:text="${#dates.month(date)}"></div>    // 结果 2
<div th:text="${#dates.monthName(date)}"></div>    // 结果 二月
<div th:text="${#dates.monthNameShort(date)}"></div>    // 结果 二月
<div th:text="${#dates.year(date)}"></div>    // 结果 2018
<div th:text="${#dates.dayOfWeek(date)}"></div>    // 结果 6(周五)
<div th:text="${#dates.dayOfWeekName(date)}"></div>    // 结果 星期五
<div th:text="${#dates.dayOfWeekNameShort(date)}"></div>    // 结果 星期五
<div th:text="${#dates.hour(date)}"></div>    // 结果  23
<div th:text="${#dates.minute(date)}"></div>    // 结果  2
<div th:text="${#dates.second(date)}"></div>    // 结果  52
<div th:text="${#dates.millisecond(date)}"></div>    // 结果 116